body {
  background-color: #F9F9FB;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

header {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 60px;
  background-color: #26A69A;
  box-shadow: 3px 2px 2px rgba(0,0,0,0.25);
  z-index: 900;
}

.header {
  padding-left: 90px; padding-right: 20px;
}

.header h1 {
  display: inline;
  line-height: 60px;
  color: white;
}

.content-right {
  float: right;
  line-height: 60px;
}

.sidebar-right {
  position: fixed;
  top: 60px; right: 0;
  width: 320px; height: calc(100vh - 60px);
  overflow: auto;
  
  background-color: #00695C;
  color:white;
  z-index: 800;
  
  transform: translateX(320px);
  transition: transform 0.3s cubic-bezier(.55,0,.1,1);
}

.sidebar-right-open {
  transform: translateX(0);
}

nav {
  position: fixed;
  top: 0; left: 0;
  width: 320px; height: 100vh;
  max-width: 80%;
  background-color: #1F2532;
  transform: translateX(-250px);
  transition: transform 0.3s cubic-bezier(.55,0,.1,1);

  z-index: 1000;
}

nav:hover,nav:focus {
  transform: translateX(0);
}

.nav-header {
  padding-left: 20px; padding-right: 20px;
  min-height: 60px;
  line-height: 60px;
  background-color: #009688;
}

.nav-header img {
  float: right;
}

section {
  padding: 80px 20px 20px 90px;
}

.justify {
  text-align: justify;
}